* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive;
}

body {
  background: black;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("bg.jpg") center/cover;
  filter: blur(5px) brightness(0.6);
}

.glow-card {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 340px;
  height: 500px;
  background: rgba(255,255,255,0.15);
  border-radius: 25px;
  box-shadow: 0 0 25px hotpink;
  backdrop-filter: blur(10px);
  padding: 15px;
  z-index: 2;
}

.top-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 15px hotpink;
}

.shape {
  position: relative;
  margin-top: 15px;
  width: 100%;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shape img {
  width: 100%;
  height: 100%;
}

.shape p {
  position: absolute;
  text-align: center;
  color: #ff2e63;
  font-size: 18px;
  padding: 50px;
  line-height: 1.4;
}

.hint {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: white;
  opacity: 0.8;
  z-index: 3;
}

#fireworks {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}
